.userprofile__container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userprofile__avater__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.userprofile__avater__container-info {
    margin-left: 10px;
}

.info-username {
    color: #eb00ff;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
}

.info-sub-span {
    font-size: 11px;
    font-style: italic;
    font-family: "Manrope", sans-serif;
    opacity: 0.7;
}

.info-sub-date {
    margin-left: 5px;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
}

.userprofile__avatar {
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.userprofile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userprofile__form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.userprofile__label {
    padding-bottom: 10px;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
}

.userprofile__input {
    font-size: 15px;
    width: 350px;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    padding: 10px 20px;
    font-family: "Manrope", sans-serif;
    background: transparent;
    color: #eee;
}

.error_msg {
    color: red;
    font-family: "Manrope", sans-serif;
}

.btn__container {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    margin-top: 10px;
}

.isDisabled {
    pointer-events: none;
    opacity: 0.6;
}

.password__div {
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .userprofile__container {
        height: 100%;
        margin-top: 50px;
    }
    .userprofile__avater__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .userprofile__avatar {
        width: 90px;
        height: 90px;
    }
    .userprofile__input {
        width: 100%;
    }
    .btn__container {
        flex-direction: column;
        align-items: center;
    }
}