.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff79;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px 30px;
}

.form__error {
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form__input {
    width: 300px;
    padding: 15px 20px;
    margin: 10px;
    font-size: 14px;
    outline: none;
}

.form__input:focus {
    border: 1px solid #eb00ff;
}

.form__link {
    text-align: center;
    color: #fff;
}

.form__link:hover {
    color: #eb00ff;
}

.form__bottom {
    text-align: center;
    margin-top: 30px;
}

.form__bottom-link:hover {
    transform: scale(1.09);
    transition: ease-in 0.3ms all;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .form__container {
        border: none;
    }
    .form__input {
        width: 100%;
        padding: 10px;
        margin: 10px;
        font-size: 15px;
    }
}