body {
  height: 100vh;
  background-image: url("../assets/images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}
