.navbar_list {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 25px;
}

.temp {
    color: red;
}

.navbar_list_item {
    padding: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.navbar_list_item:hover {
    color: #eb00ff;
}

.menu_icon {
    cursor: pointer;
    display: none;
}

.navbar_avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.navbar_avatar span {
    margin-right: 10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.navbar_avatar:hover {
    color: #eb00ff;
}

.logout__btn {
    background: transparent;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
    .navbar_list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50px;
        right: 0%;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(25px);
        /* background-color: #ac5cb4; */
    }
    .navbar_list_item {
        margin: 0.5rem 0;
        font-size: 18px;
    }
    .menu_icon {
        display: block;
        color: #fff;
        font-size: 30px;
    }
    .mobile-menu-open .navbar_list {
        display: flex;
    }
    .navbar_avatar span {
        margin-right: 10px;
        font-size: 18px;
    }
}